:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --background-color: white;
    --text-color: #151414;
    --text-color2: white;
  }
  
  body {
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-areas:
      "header header header"
      "sidebar slider slider"
      "sidebar container container"
      "sidebar container container"
      "sidebar footer footer";
    grid-gap: 1rem;
    color: var(--text-color2);
    background-color: var(--background-color);
    font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
  }
  
  .header {
    grid-area: header;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    color: var(--text-color);
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 4;
    font-weight: bolder;
    box-sizing: border-box;
  }
  .logo{
    margin-left: 20px;
    font-size: xx-large;
    padding: 5px;
    height: 50px;
    width: 160px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    text-shadow: rgba(250, 249, 249, 0.25) 0px 54px 55px, rgba(245, 243, 243, 0.12) 0px -12px 30px, rgba(239, 235, 235, 0.12) 0px 4px 6px, rgba(242, 239, 239, 0.17) 0px 12px 13px, rgba(244, 242, 242, 0.09) 0px -3px 5px;
    background: linear-gradient(120deg, #1091e0, #f70505); 
    background-clip: text;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .headerContent {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 90%;
  }
  
  .home,
  .genre,.Top10 {
    width: 15%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .genre span {
    margin-right: 2px;
  }
  
  .headerContent .genre:hover,
  .home:hover, .Top10:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 20px;
    background-color: #f17466;
  }
  
  .sidebar {
    grid-area: sidebar;
    width: 0px;
    padding: 0px;
    margin: 0px;
    border: 1px solid;
    height: 100%;
  }
  
  .slider {
    grid-area: slider;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .container {
    grid-area: container;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: auto;
    grid-template-rows: max-content;
    margin-top: 0px;
  }
  
  .footer {
    grid-area: footer;
    height: 50px;
  }
  
  .headerContent .search {
    width: 52%;
  }
  
  .searchMovie {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: 43px;
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .headerContent input,
  .headerContent button {
    padding: 10px;
    font-size: 17px;
    outline: none;
    color: var(--text-color);
    border: none;
    background: var(--background-color);
  }
  
  .headerContent input {
    float: left;
    width: 75%;
    border-radius: 0px 20px 20px 0px;
  }
  
  .headerContent button {
    float: left;
    width: 20%;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .headerContent button:hover {
    background: rgb(127, 236, 191);
    transform: scale(1.1);
  }
  
  .headerContent .genre {
    position: relative;
  }
  
  .headerContent .genre ul {
    position: absolute;
    top: 41px;
    list-style: none;
    box-shadow: rgba(99, 97, 97, 0.35) 0px 5px 15px;
    color: var(--text-color);
    background-color: var(--text-color2);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    width: 350px;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    gap: 10px;
  }
  
  .headerContent .genre ul li {
    width: 150px;
    padding: 10px 0px;
    margin: 0px;
    text-align: center;
  }
  
  .headerContent .genre ul li:hover {
    background-color: var(--background-color);
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .headerContent .genre ul li:nth-child(odd):hover{
    background-color: rgb(127, 238, 238);
  }
  .headerContent .genre ul li:nth-child(even):hover{
    background-color: #dff705;
  }
  
  .imageBlock {
    width: 220px;
    height: 250px;
    margin: 10px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    position: absolute;
    bottom: 0px;
    width: 220px;
    height: 60px;
    font-size: 11px;
    padding: 5px 10px 10px 5px;
    box-sizing: border-box;
  }
  
  .details h3 {
    margin: 5px 0px;
  }
  
  .details .rating {
    height: 100%;
    width: 30%;
    border-left: 1px solid;
    padding-left: 10px;
  }
  
  .details i {
    margin-right: 5px;
  }
  
  .details p {
    margin: 1px;
  }
  
  .nameAndGenre {
    width: 70%;
    box-sizing: border-box;
  }
  
  .crousel {
    width: 500%;
    height: 100%;
    display: flex;
    transition: all 1s ease;
    animation: slideAnimation 15s infinite linear;
  }
/*   
  @keyframes slideAnimation {
    0%, 15% {
      transform: translateX(0%);
    }
    20%, 35% {
      transform: translateX(-20%);
    }
    40%, 55% {
      transform: translateX(-40%);
    }
    60%, 75% {
      transform: translateX(-60%);
    }
    80%, 95% {
      transform: translateX(-80%);
    }
    100% {
      transform: translateX(0%);
    }
  } */
  
  .movieSlide {
    width: 110%;
    height: 100%;
    background-color: #e74c3c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
    position: relative;
  }
  
  .slideDiv {
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .crousel:hover .detailsOfMovies,
  .slideDiv:hover .detailsOfMovies {
    display: block;
    right: 0px;
  }
  
  .pointers {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #151616;
  }
  
  .pointers:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
   .detailsOfMovies {
    background: rgba(27, 33, 46, 0.9);
    width: 28%;
    height: 100%; 
     padding: 20px 30px; 
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    margin: 0px;
    
  }
  
  .detailsOfMovies h2 {
    color: #3498db;
  }
  
  .additionalDetails {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ccc;
    border-radius: 4px;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 15px;
    font-size: 12px;
    width: 80%;
    height: 22%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
  }
  
  .additionalDetails strong {
    margin-right: 15px;
    display: inline-block;
    width: 50px;
  }
  
  .indivisualDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--text-color);
  }
  
  .indivisualDetails .detailsOfMovies {
    display: block;
    position: unset;
    height: 100%;
    background-color: var(--text-color);
  }
  
  .hamburgerMenu{
     display: none;
  }
  
  .wishlist{
    background-color: #e74c3c;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 0px;
  }

  .searchDiv{
    display: none;
  }
  
  
  @media (max-width:1030px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
    .headerContent{
      width: 60%;
    }
  
  }
  
  @media (max-width:1000px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
    .headerContent{
      width: 70%;
    }
    .detailsOfMovies{
      width: 50%;
    }
  
  
  }
  @media (max-width:850px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
    .headerContent{
      width: 70%;
    }
    
    
  
  }
  @media (max-width:750px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
    .container .imageBlock {
      width: 170px;
      height: 200px;
    }
    .container .details{
      width: 100%;
    }
  
    .container .details .rating {
      display: none;
    }
    .headerContent{
      width: 300px;
    } 
    .indivisualDetails img,.detailsOfMovies{
     width: 300px;
    }
    .hamburgerMenu{
      display: block;
      position: relative;
   }
   .headerContent{
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: var(--background-color);
    width: 150px;
    height: 200px;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
   .headerContent div{
    width: 60%;
     height: 40px; 
   }
   .headerContent .search{
    width: 60%;
     height: 0px; 
   }
    .headerContent .searchMovie{
       display: none; 
      margin: 0px;
     
    }

    .header .searchDiv{
      position: absolute;
      min-width: 94vw;
      top: 65px;
    right: 10px;
    background-color: var(--background-color);
    border-radius: 20px;
    }
   .hamburgerMenu{
    display: flex;
    width: 15%;
    justify-content: space-around;
   }
   .searchIcon .searchMovie{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: var(--background-color);
    
   }
   .headerContent .genre ul {
    display: block;
    width: 150px;
    right: 120px;
    top: -100px;
   }
   .search input,
   .search button {
    padding: 10px;
    font-size: 17px;
    outline: none;
    color: var(--text-color);
    border: none;
    background: var(--background-color);
  }
  
  .searchDiv input {
    float: left;
    width: 75%;
    border-radius: 0px 20px 20px 0px;
  }
  
  .searchDiv button {
    float: left;
    width: 20%;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .searchDiv button:hover {
    background: rgb(127, 236, 191);
    transform: scale(1.1);
  }
  
  }
  
  
  
  
  